*.log

#############
## Windows stuff
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store

#######
Node.js
#######
node_modules/*

js/
build/
coverage 
.phpunit.result.cache

.php_cs.cache

js/
build/

tests/.phpunit.result.cache
vendor/

.php_cs.cache
\.idea/
